apiVersion: v1
kind: ConfigMap
metadata:
  name: {{.InitDB.ConfigMapName}}
  namespace: {{.Namespace}}
  labels:
    app.kubernetes.io/name: {{.Service.Name}}
    app.kubernetes.io/component: databaseprovider
    db.infrastructure.opendatahub.io/provider: {{.ProviderName}}
data:
  00-init-extensions.sql: |
{{- range .InitDB.Extensions }}
    CREATE EXTENSION IF NOT EXISTS "{{ . }}";
{{- end }}
