apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{.PVC.Name}}
  namespace: {{.Namespace}}
  labels:
    app.kubernetes.io/name: {{.Service.Name}}
    app.kubernetes.io/component: databaseprovider
    db.infrastructure.opendatahub.io/provider: {{.ProviderName}}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{.PVC.Size}}
{{- if .PVC.StorageClassName }}
  storageClassName: {{.PVC.StorageClassName }}
{{- end }}
