apiVersion: v1
kind: Service
metadata:
  name: {{.Service.Name}}
  namespace: {{.Namespace}}
  labels:
    app.kubernetes.io/name: {{.Service.Name}}
    app.kubernetes.io/component: databaseprovider
    db.infrastructure.opendatahub.io/provider: {{.ProviderName}}
spec:
  clusterIP: None
  selector:
    app.kubernetes.io/name: {{.Service.Name}}
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: postgres
